input.hidden {
    position: absolute;
    left: -9999px;
}

#profile {
    margin-left: 25%;}

#complain {
    width: 57%;}

#ban {
    width: 57%;}

#ban_time {
    width: 57%;}

#ban_message {
    width: 57%;}

#profile-image1 {
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}